  html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body{
  background-color: #f2f2f2;
}
/*Globales*/
.contenedor{
  width: 98%;
  margin: 0 auto;
  display: inline-block;
}

@media only screen and (min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .contenedor {
    width: 90%;
    max-width: 1100px;
  }
}
.seccion{
  padding: 30px 0;
}
.seccion p{
  font-size: 1.4em;
  text-align: center;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;

}
h2::after{
  content: '';
  margin: 0 auto;
  background-image: url("../img/separador.png");
  height: 30px;
  width: 100px;
  display: block;
}
h3{
  font-size: 1.8em;
  color: #fe4918;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

.button{
  background-color: #fe4918;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
}
.button:hover{
  background-color: #e33000;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
.float-right{
  float: right;
}
/*Header*/
.hero {
  background-image: url("../img/encabezado.jpg");
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
.contenido-header {
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  div.contenido-header{
    padding-top: 10px;
  }
}

.redes-sociales {
  text-align: center;
}
.redes-sociales a {
  color: #ffffff;
  font-size: 2em;
  margin-right: 20px;
}
.redes-sociales a:last-child {
  margin-right: 0;
}
.informacion-evento {
  text-align: center;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  div.informacion-evento {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.informacion-evento p i {
  color: #fe4918;
  font-size: 2.4rem;
}
.clearfix{
  padding: 45px;
}
p.fecha {
  float: left;
}

p.ciudad {
  float: right;
  text-align: right;
}
p.slogan {
  text-transform: none !important;
}
p.slogan span {
  font-weight: bold;
}

h1.nombre-sitio {
  font-family: 'PT Sans', sans-serif;
  font-size: 5.0vw;
  margin-top: 5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  h1.nombre-sitio {
    font-size: 11.5vw;
    margin:0;
    line-height: 1;
  }
}
/*Barra*/
div.barra{
  background-color: #353535;
  padding: 20px 0;
}
div.logo{
  width :80%;
  float: left;
}
div.logo img{
  width: 100%;

}
@media only screen and (min-width: 768px) {
  div.logo{
    width: 33%;
  }
}
  /**Nav principal*/
  nav.navegacion-principal{
    display: none;
  }
  nav.navegacion-principal a{
     font-family: 'Oswald', sans-serif;
     color: #ffffff;
     font-size: 1.4em;
     text-transform: uppercase;
     text-decoration: none;
     transition: all .6s ease;
     width: 100%;
     display: block;
     text-align: center;
     margin-bottom: 20px;
  }
  nav.navegacion-principal a:hover{
    background-color: #fe4918;
  }
  nav.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
  }
  nav.navegacion-principal a:last-child:hover{
    color:#ffffff;
  }
  @media only screen and (min-width: 768px) {
    nav.navegacion-principal{
      width: 67%;
      float: right;
      text-align: right;
      display: block;
    }
    nav.navegacion-principal a{
      margin-right: 10px;
      padding: 10px 10px;
      display: inline-block;
      transition: all .6s ease;
      width:auto;
      display: inline;
      text-align: center;
      margin:0 10px 0 0 ;
    }
  }
  /*MENU MOVIL*/
  div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
  }
  @media only screen and (min-width: 768px) {
    div.menu-movil{
      display: none;
    }

  div.menu-movil:hover{
    cursor: pointer;
  }
  div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block;
  }
}
/*Talleres*/
section.programa{
  position: relative;
}
div.contenedor-video{
  max-width: 100%;
  overflow-x: hidden;

}
div.contenido-programa{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
div.programa-evento{
  background-color: rgba(255,255,255,.8);
  padding: 15px;
  margin-top: 150px;
}
@media only screen and (min-width: 768px){
  div.programa-evento{
    width: 70%;
  }
}
@media only screen and (min-width: 992px){
  div.programa-evento{
    width: 50%;
  }
}
nav.menu-programa{
  width: 100%;
  border-bottom: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px){
  nav.menu-programa{
    display: table;
  }
}
nav.menu-programa a {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;

}
@media only screen and (min-width: 768px){
  nav.menu-programa a{
    display: table-cell;
  }
}
nav.menu-programa a i,
div.detalle-evento p i{
 color: #fe4918;
 font-size: 1.6em;
 margin-right: 10px;
}
/*detalle evento*/
div.detalle-evento{
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 20px;

}
div.detalle-evento:nth-child(2){
  border: none;
}
display: .detalle evento; p{
  margin-bottom: 20px;
  font-size: 20px;
}
/*Invitados*/
ul.lista-invitados li{
  padding: 10px;
  float: left;
}
@media only screen and (min-width: 480px){
  ul.lista-invitados li{
    width: 50%;
  }
}

@media only screen and (min-width: 768px){
  ul.lista-invitados li{
    width:33.3%;
  }
}
div.invitado{
  position: relative;
  overflow: hidden;
}
div.invitado img{
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 5s ease-out;

}
div.invitado img:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);

}
div.invitado p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: #fe4918;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-in-out;
}

div.invitado p:hover{
  bottom: -80px;
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */
